[2015-02-13 23:52] photex opened #1 "Uncaught TypeError: object is not a function"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 0.179.0
**System**: linux 3.16.7-7-desktop
**Thrown From**: [atom-perforce](https://github.com/mattsawyer77/atom-perforce) package, v0.2.0
### Stack Trace

Uncaught TypeError: object is not a function

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-02-17 18:04] mattsawyer77 commented on #1
Thanks for the bug report @photex but I haven't seen this issue occur on my system. Can you tell me the steps to reproduce the issue (including any p4 commands you had run from the command line, etc.)?

[2015-02-18 07:15] gkaran commented on #1
This issue has occurred to me and a colleague as well. We both did nothing but install the plugin and try to open a directory that is under a perforce workspace.

When trying to do any action to any file (whether create, edit, delete) we got the above issue.

Could you please share the configuration under which this works in your system?

[2015-02-18 08:19] photex commented on #1
Hi @mattsawyer77 I tried this on my macbook as well and also get this error. I opened the folder (the root of the project), selected a couple of files and eventually get this.

On both systems I don't have p4 in /usr/bin. On my linux machine it's ~/bin and on my macbook it's in /usr/local/bin.

This project uses a p4config file and P4CONFIG is set in ~/.zshenv on both systems.

[2015-02-18 08:21] photex commented on #1
Here is the stacktrace from my macbook (just updated to atom-perforce 0.2.0 as well.

[code]

[2015-02-18 18:07] mattsawyer77 commented on #1
That error didn't make any sense to me. Then I realized I had the wrong version of node-perforce specified in my package.json. That's corrected now. Please update and let me know if that fixes (or changes) your problem, @photex @gkaran !

[2015-02-19 10:57] photex commented on #1
I definitely no longer get the error. Nothing else seems to happen though
so I think I can move on to the mundane details of configuration.

Cheers!

On Wed, Feb 18, 2015 at 7:07 PM, Matt Sawyer notifications@github.com
wrote:

[2015-02-19 11:14] gkaran commented on #1
Error is eliminated here as well. Consider this resolved.

Same as @photex though, I can't do nothing else. When I try to mark a file for edit I get the following:

File does not get marked for edit as well (probably has to do with the above error).

I don't know whether that has to do with the plugin or my configuration though. Sadly windows (which I have to use in work environment) as not so fle

[2015-02-19 18:03] mattsawyer77 commented on #1
@gkaran the plugin is not yet windows compatible. I'll close this issue and open a separate one for that.

[2015-02-19 18:03] #1 closed, assigned to mattsawyer77

[2015-02-19 18:05] mattsawyer77 opened #2 "windows compatibility"
The plugin should work in Windows in addition to OSX.

[2015-03-10 17:33] simoneau opened #3 "When atom-perforce is enabled, the new tab behavior is disrupted."
Ctrl-shift-F for "Find in Project", type in a search term, and press enter. When the results come up, click on one of them. The file which opens replaces the contents of the Project Find Results tab rather than opening a new tab. If I disable atom-perforce and restart Atom, I no longer see this bug.

I'm seeing this on Windows 7 with Atom 0.187.0.

[2015-03-10 17:34] simoneau commented on #3
This may be a consequence of issue #2.

[2015-03-17 14:31] zimme opened #4 "Checkout on save/modified"
Add support for automatically checkout on save and/or when buffer is modified

[2015-03-17 14:33] zimme opened #5 "Configurable path for p4 executable"
Basic atom settings to specify where p4 executable is.

[2015-03-20 04:16] mattsawyer77 commented on #4
I really want this feature too. But I haven't figured out how to intercept the save event yet. So it would work ok if your p4 client is set to "allwrite" (not so much with "noallwrite").

[2015-03-20 05:28] mattsawyer77 commented on #4
For the curious, I've opened a forum discussion here: https://discuss.atom.io/t/intercept-onwillsave-or-some-other-save-event/15597

[2015-03-20 07:26] zimme commented on #4
I took a look at the discussion and I'm thinking we might wanna implement this anyways but not turn it on by default.

I'm thinking as it's triggered before save we can still run p4 edit and then the file is open for edit when atom saves the file. BUT if the p4 edit fails for some reason we will still get the save error, which is why we don't wanna have this option as a default and add a note on t

[2015-03-20 07:28] zimme commented on #4
We'll have to call p4 edit synchronously probably

[2015-03-21 19:18] mattsawyer77 commented on #4
re: running this synchronously, I'd rather not risk locking up Atom with a potentially expensive network operation like this.

However, I will look into the possibility of auto-add or auto-edit when a buffer is modified.

[2015-03-21 19:48] zimme commented on #4
That will work and maybe there's a way to run revert unchanged files when closing buffers or something.

i.e. checkout when modifying a buffer then revert if there isn't any change once you close the buffer?

[2015-03-21 19:54] mattsawyer77 commented on #4
not a bad idea: It wouldn't be difficult to just run p4 revert -a <filename> when a p4-opened buffer is closed.

[2015-03-21 20:15] zimme commented on #4
:+1:

Would be nice to have some automagical workflow with perforce in atom :smile:

[2015-03-25 10:06] zimme commented on #3
I'm seeing the same issue on OS X Yosemite with atom 0.1.88.0 and saw it om 0.187.0 too. Version 0.9.1 of this package

[2015-03-25 16:57] mattsawyer77 commented on #3
I have a fix for this, will be up soon.

[2015-03-25 17:07] #3 closed, assigned to mattsawyer77

[2015-03-25 18:58] mattsawyer77 commented on #4
I'm very close to having this implemented. the snag I've run into is that when the file is loaded into the buffer, the onDidStopChanging event is fired, even though I have not modified the buffer yet. this might have something to do with vim-mode (which I use 100% of the time).

[2015-03-26 07:15] zimme commented on #4
Try turning vim mode off and see if that's the culprit. If it is maybe you can just use a `firstRun` variable per buffer which gets set if vim mode is enabled.

If `firstRun` is set then don't run the "normal" `onDidStopChanging` code?

[2015-03-26 07:19] zimme commented on #3
:+1:

[2015-03-29 00:48] mattsawyer77 commented on #4
The onDidChange event turned out to be exactly what I needed. I have this working in my environment now. I just need an upstream PR to be merged, and then I will publish this feature.

[2015-03-29 13:51] zimme commented on #4
:+1: Lets hope the PR gets merged quickly. Nice work :smile:

[2015-03-30 08:06] mikehuebner opened #6 "How to Use?"
Hello!

Maybe I'm just a bit lost, or missing something. But I am not getting checkouts to happen in the client although I have .p4config file that gives the editor the credentials. Maybe I am not exploring this enough, but where can I set up these for my workspaces?

[2015-04-01 20:26] mattsawyer77 commented on #6
@mikehuebner are you working on Windows, Mac, or Linux? I haven't done much testing in Windows for this plugin yet, unfortunately as that's not a platform I know much about these days. But you will need to make sure the directory that contains the p4 command is in your path.

[2015-04-01 20:28] mikehuebner commented on #6
I'm working on Mac. My P4Config looks a bit something like this:

[code]

[2015-04-01 20:30] mattsawyer77 commented on #6
@mikehuebner what do you see if you run `p4 info` from the folder you've added to atom as the project root?

[2015-04-01 20:32] mikehuebner commented on #6
Its based off of that root and not your workspace root? Interesting, that would make sense I guess. I have it set up one directory behind that, I thought Atom would pick up that I'm working in that file and that is my workspace. Not the parent folder.

[2015-04-01 20:35] mattsawyer77 commented on #6
Well not exactly. If you attempt to p4 edit a file via the plugin, for example, it will attempt to execute first p4 info (to make sure perforce is accessible), then p4 edit, both from the directory containing the file.

[2015-04-01 20:38] mikehuebner commented on #6
`p4 info` is not accessible from my Workspace root folder. From the workspace sub folder I'm working it, its perfectly fine because that contains the `p4config` file.

[2015-04-01 20:48] mattsawyer77 commented on #6
As far as I can tell, this shouldn't be a problem. But can you confirm this for me:
case A (your Atom workspace root is above the directory containing .p4config):
1. open a file (somewhere within your p4 client tree) in atom that is not p4 opened yet
2. via the command palette or keymap: p4 edit

and/or

case B: (your Atom workspace root contains a valid .p4config file):
same steps as above

If ne

[2015-04-01 20:56] mikehuebner commented on #6
Opened up a directory with the p4 items in place.
![image](https://cloud.githubusercontent.com/assets/6125123/6952338/148acbec-d876-11e4-972f-a7c99c9150f7.png)

Something in the repo that hasn't been checked out yet:
![image](https://cloud.githubusercontent.com/assets/6125123/6952355/2b5eb4c8-d876-11e4-980d-08fbb143b0da.png)

Within the GUI (after a refresh) running `p4 edit` from the command pale

[2015-04-01 21:08] mattsawyer77 commented on #6
is the p4 command in your path? and can you run p4 info from the folder containing .p4config?

[2015-04-01 21:13] mikehuebner commented on #6
If I run p4 info from that directory it returns everything perfectly fine. My path is set up and all.

[2015-04-01 21:47] mattsawyer77 commented on #6
OK. Can you open the developer tools in Atom (option+cmd+i) then reload Atom (ctrl+option+cmd+l), open a file that is in your p4 client area, and try to do p4 edit in Atom. If anything goes wrong it should be logged to the console.

[2015-04-01 21:51] mikehuebner commented on #6
Found some issues, but they don't make sense. This is with my workspace root in this folder for the project.

So root being `workspace/project_folder/`

![image](https://cloud.githubusercontent.com/assets/6125123/6953492/8a49faa8-d87e-11e4-8b40-d8c6e59a80d5.png)

[2015-04-01 22:06] mattsawyer77 commented on #6
It looks like the p4 command is not found on your path after all (I need to display a helpful error message for this). FYI to determine your path (because node might not be started from the terminal), the plugin uses a command that is essentially this:

[code]

if you run this from your terminal, do you see the folder that contains p4 in the path? If not you'll need to add it to your .bashenv, .zs

[2015-04-01 22:07] mattsawyer77 opened #7 "display a helpful error message when the p4 command is not found in the path"
If p4 commands fail due to not being found on the path, the plugin should notify the user with a helpful error message.

[2015-04-01 22:09] mikehuebner commented on #6
That is strange, since the sublime setup works 100% fine, no problems at all. I'll take a look at a few things on my side and see if I can't make this more robust for a user to just use P4Config (of course with in the insane process of p4 installed).

[2015-04-02 00:35] mattsawyer77 commented on #6
4 things:
1. I have some code to make sure /usr/local/bin (the default p4 install location) is in the path, but I don't think this code ever gets called, I will fix that.
2. When I implement #5, users with problems like these can manually specify the path to the p4 executable.
3. I will add some info to the README to cut down on confusion.
4. I'll add an error notification for when the p4 executab

[2015-04-02 00:35] #6 closed, assigned to nobody

[2015-04-02 07:30] mattsawyer77 commented on #2
This should be working now. If any issues popup, let's open them as separate specific ones.

[2015-04-02 07:30] #2 closed, assigned to mattsawyer77

[2015-04-02 07:31] #5 closed, assigned to nobody

[2015-04-02 07:31] #7 closed, assigned to nobody

[2015-04-02 22:18] mattsawyer77 opened #8 "there should be an error notification when the user is not logged in to perforce"
specifically, when the user attempts to perform a perforce command.

[2015-04-03 10:37] zimme opened #9 "Rename package to perforce"
How about skipping the atom- in the package name?

[2015-04-08 12:39] CroquetteCroquette opened #10 "TypeError: Cannot read property 'file' of undefined"
I have no idea what this is but maybe it will help you ._. This happened just after I enabled the package

C:\Users###.atom\packages\atom-perforce\lib\atom-perforce.js:367
Hide Stack Trace
TypeError: Cannot read property 'file' of undefined
  at Object.showClientName (C:\Users###.atom\packages\atom-perforce\lib\atom-perforce.js:367:62)
  at C:\Users###.atom\packages\atom-perforce\main.js:90:22
  a

[2015-04-08 13:43] zimme opened #11 "TextEditor.decorateMarker is deprecated."
Decorations of `type: 'gutter'` have been renamed to `type: 'line-number'`.

[code]

[2015-04-11 19:05] mattsawyer77 commented on #9
Not sure it's worth the effort. Also, I like having the Github repo (which I definitely don't want to rename to "perforce") have the same name as the package.

[2015-04-11 19:05] #9 closed, assigned to nobody

[2015-04-11 19:21] #11 closed, assigned to nobody

[2015-04-11 20:04] #10 closed, assigned to nobody

[2015-04-12 17:27] zimme commented on #9
Np, I just felt the "atom-" part in the name felt a but redundant. I feel `perforce` as the package name in package.js file specified with the `name` option and use `atom-perforce` for the github project and folder name is good.

But it's personal preference and I can respect that.

[2015-04-13 18:15] mattsawyer77 opened #12 "there should be a notification after syncing if files need to be resolved"
this will show the output of `p4 resolve -n`.

[2015-04-15 04:09] mattsawyer77 commented on #12
created a pull request upstream. once merged I can implement this.

[2015-04-15 05:01] #8 closed, assigned to nobody

[2015-04-15 05:03] mattsawyer77 commented on #4
alright, this is in. I've tested it quite a bit in my environment, but that doesn't always mean much. let me know how it works for you guys!

[2015-04-15 05:03] #4 closed, assigned to nobody

[2015-04-24 21:02] mattsawyer77 opened #13 "Load All Opened Files command loads duplicate files if the project has multiple roots"

[2015-05-02 19:47] zimme opened #15 "Optimize load time"
I would suggest you use `activationCommands` in `package.json` to make sure the package isn't activated until one of the commands are run for the first time.

Right now this package adds 82ms to load time, which isn't much in itself but adds up with other packages.

[2015-06-16 19:33] #13 closed, assigned to mattsawyer77

[2015-06-27 17:45] narendraumate opened #16 "Failed to load the atom-perforce package"
[Enter steps to reproduce below:]
1. Build atom from source
2. Linked fork

**Atom Version**: 1.0.1-cb81554
**System**: Mac OS X 10.10.3
**Thrown From**: [atom-perforce](https://github.com/mattsawyer77/atom-perforce) package, v1.2.1
### Stack Trace

Failed to load the atom-perforce package

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2015-06-27 18:47] mattsawyer77 commented on #16
@ardneran this is odd. I don't know of any reason for this. Would you mind quitting the Atom app and trying the following:

[code]

then please tell me the output and whether you can use the package in Atom?

[2015-06-27 19:44] narendraumate commented on #16
Thank you for the prompt response @mattsawyer77. This helped me after I gave your method a try https://atom.io/docs/v0.80.0/contributing. I had to run the following commands inside my fork.

cd atom-perforce
apm link --dev
apm install
apm update
atom -d

[2015-06-27 19:44] #16 closed, assigned to nobody

[2015-06-29 18:22] ghost opened #17 "Automatically check-out files during project search/replace"
This would a nice time saving feature.  Currently, I get "Perforce: cannot edit an unsaved file" when I try to do this with the latest atom-perforce release (1.2.2).

Thanks!

[2015-07-08 00:15] mattsawyer77 opened #18 "environmental problem with bash"
It seems that this plugin isn't working at all for bash users due to the output format of `bash -lc export`.

[2015-07-09 18:39] #18 closed, assigned to mattsawyer77

[2015-07-09 21:35] #12 closed, assigned to mattsawyer77

[2015-07-09 22:02] mattsawyer77 commented on #17
I don't think this is actually possible. If I find a way to do this, I'll reopen.

In the meantime, @sergiom-sf, if you want a workaround, here are two possible methods:

**A. open from the terminal:**
1. in your terminal, go to your workspace
2. `find . -type f -exec grep -l 'search pattern' -exec p4 edit {} \;`
3. now you should be able to find/replace project-wide in Atom without warnings

**B.

[2015-07-09 22:02] #17 closed, assigned to nobody

[2015-07-09 22:56] mattsawyer77 opened #19 "auto revert setting inadvertently reverts integrated/merged files"

[2015-07-10 06:43] Flonker opened #20 "Node-Perforce version"
Hi!

I would like to get the newest version of node-perforce in this package.
It has a fix I want (that I contributed to :D)

The version I would like is 0.0.16.

Unless of course something breaks because of another change betweed 0.0.13 and 0.0.16

[2015-07-10 18:48] #20 closed, assigned to nobody

[2015-07-13 23:51] jonchenn opened #21 "Exception thrown when clicking back and forward to Settings panel."
TypeError: undefined is not a function
  at Object.showClientName (/home/user/.atom/packages/atom-perforce/lib/atom-perforce.js:471:29)
  at /home/user/.atom/packages/atom-perforce/main.js:122:22
  at Emitter.module.exports.Emitter.emit (/usr/share/atom/resources/app.asar/node_modules/event-kit/lib/emitter.js:82:11)
  at /usr/share/atom/resources/app.asar/src/pane-container.js:343:34
  at Emitter.

[2015-07-14 00:02] #21 closed, assigned to nobody

[2015-07-16 07:21] Flonker opened #22 "Load files from specific changelist"
Feature request / Enhancement:
I would like to be able to open all 'p4 opened' files that are all associated to a common changelist.
Maybe when you run the command you get a list of all your changelists with files and get to choose one of them and then all files associated to that changelist are opened.

[2015-07-16 07:26] mattsawyer77 commented on #22
I want to add features like this, too. But I'm holding off while the Atom maintainers are arguing about which view framework to adopt. I'd like to avoid writing throw-away code.

[2015-07-16 19:57] jonchenn opened #23 "TypeError: Cannot read property 'realPath' of undefined"
TypeError: Cannot read property 'realPath' of undefined
  at Object.showClientName (/home/user/.atom/packages/atom-perforce/lib/atom-perforce.js:475:51)
  at /home/user/.atom/packages/atom-perforce/main.js:122:22
  at Emitter.module.exports.Emitter.emit (/usr/share/atom/resources/app.asar/node_modules/event-kit/lib/emitter.js:82:11)
  at /usr/share/atom/resources/app.asar/src/pane-container.js:343

[2015-07-17 17:04] #23 closed, assigned to nobody

[2015-07-17 23:00] nall opened #24 "CWD and using project-specific .p4config files"
My project directory has a .p4config at the root directory which defines P4CLIENT and P4PORT and those values seem to be ignored. Specifically, I get errors when atom-perforce tries to invoke p4 info where it's using the default $P4PORT. This makes me think the CWD must be something other than my project dir and my .p4config isn't being picked up.

Any ideas for working in this type of setup?

[2015-07-17 23:41] mattsawyer77 commented on #24
Hmm, do you have

[code]

in your .bashrc/.zshrc/etc file?

[2015-07-18 02:13] nall commented on #24
Yes, I have that export in my .zshrc.

Actually, it looks like it works if I launch atom from the directory
containing the files (as opposed to launching it via Alfred on OSX). I'm
fairly new to atom. Is this the expected behavior?

nall.

On 17 Jul 2015, at 16:41, Matt Sawyer wrote:

[2015-07-18 19:48] mattsawyer77 commented on #24
I think I've found a workaround, and the possible root cause. The workaround is to put your P4\* environment variables in ~/.zshenv (and if that doesn't work, you might as well launch atom from the terminal, which isn't ideal but shouldn't be too painful). If you're on a Mac it might be due to atom/atom#6956.

In the meantime, I'll work on a slightly more brute force method of ascertaining the app

[2015-07-18 22:04] nall commented on #24
Thanks, Matt.

Is your suspicion that I'll need _all_ P4 vars (P4CLIENT, P4PORT) in my
.zshenv or just the P4CONFIG? If the latter, I can live with that. If
not I'll need to wait for something else as I have multiple clients
checked out and a single $P4CLIENT defined won't work.

nall.

On 18 Jul 2015, at 12:48, Matt Sawyer wrote:

[2015-07-18 22:48] mattsawyer77 commented on #24
In my setup, I leave out P4CLIENT from my .zshenv, and specify that in my .p4config file in the root of the workspace. If that doesn't work for you, let me know.

[2015-07-18 23:35] #24 closed, assigned to nobody

[2015-07-18 23:36] mattsawyer77 commented on #24
I've published what should hopefully be a workaround for you (it worked for me when I renamed my .zshenv). Let me know if it doesn't help you @nall.

[2015-07-23 19:57] mikehuebner commented on #6
I'm back to cause more problems! :dancer:
Working in Atom again due to the 1.0 release, thought I would give it another shot. And using perforce, this is still not being friendly /:
Now getting an error that claims I have the wrong client,
`Client 'Mikes-MacBook-Air' unknown - use 'client' command to create it.` But that is the name of my computer... So trying to debug this slowly and see if I can

[2015-07-23 20:54] mattsawyer77 commented on #6
Can you verify which version of atom-perforce you have?

Also, you might try adding these into your ~/.bashrc or ~/.zshrc:

[code]

[2015-07-23 20:57] mattsawyer77 commented on #6
FYI some of the p4 commands are executed from the root dirs of your atom project. That could be the real issue here.

[2015-07-23 20:59] mikehuebner commented on #6
I've been using my `.bash_profile` to store my env vars. And I'll take a look, I can still execute P4 from the root so I'll take a look.

[2015-07-23 21:03] mikehuebner commented on #6
![image](https://cloud.githubusercontent.com/assets/6125123/8862185/90a42770-3143-11e5-9ac7-3f485634c55e.png)
This is what I'm seeing, just for reference.

[2015-07-23 21:07] mikehuebner commented on #6
I put the `exports` in a `.bashrc` and it isn't giving me an error. But still not checking out the files, let me keep checking I'll let you know.

[2015-07-23 21:10] mikehuebner commented on #6
Still getting the same error, sadly.

[2015-07-23 21:39] mattsawyer77 commented on #6
Does `p4 info`, when run from the root directory of your atom project, give you the expected client name?

[2015-07-23 21:57] mikehuebner commented on #6
This is what I get back

[code]

[2015-07-23 22:17] mattsawyer77 commented on #6
Did you restart (or reload) Atom after changing your .bashrc? After that, I'm curious what happens when you try the Edit or Sync commands. Anything useful in your console?

[2015-07-24 09:10] Flonker opened #25 "Project specific client"
I would like to have project specific perforce configuration.
Is that possible?

If not, can it be future feature? :)

[2015-07-24 15:07] mattsawyer77 commented on #25
Can you describe what you mean? I already use the plugin in this way. In each of my p4 workspaces, I have a .p4config file containing the client name. And I have 1 Atom project for each p4 workspace.

[2015-07-24 15:56] Flonker commented on #25
Hmm. That's exactly what I want.
I didn't see anything about that in the readme so I didn't know it was possible.

What do I need to do to make this work?
Just put a file named .p4config in the folder?
What should the file contain?

[2015-07-24 16:41] mattsawyer77 commented on #25
I assumed most p4 users already had a setup like this...but I am no expert in p4 to be sure!

In my ~/.zshrc (i.e. ~/.bashrc if you are a bash user), I have specified

[code]

Note that I do _not_ specify a P4CLIENT var globally here.

Then in each workspace root I have a .p4config file which looks like

[code]

(Actually unsure whether I need the P4PORT/P4USER here...)

Let me know if this doesn'

[2015-07-24 16:49] Flonker commented on #25
Well I'm using windows so that will not work.
rarely use p4 cli because we use p4v, the visual client.

I'll try to figure out how to do it in windows. Ofcourse, if you know how, maybe you can tell me. :)

[2015-07-24 16:51] mattsawyer77 commented on #25
I think this should help: http://www.perforce.com/perforce/doc.current/manuals/cmdref/envars.html

[2015-07-24 18:59] mikehuebner commented on #6
If I manually open it for edit it works, if I just save it. It doesn't. Is that expected behavior if so the .bashrc fix worked. I'm wondering how I can get this edit to happen on save.

[2015-07-24 19:01] mikehuebner commented on #6
Ah I see it, everything works! `.bashrc` is the solution! Sorry for the trouble!

[2015-07-24 19:50] mattsawyer77 commented on #6
FYI there is an auto-edit (and add and revert) setting in atom-perforce which will run p4 edit for you when you modify a file that isn't checked out.

[2015-07-31 20:37] #25 closed, assigned to nobody

[2015-08-03 12:30] ghost opened #26 "Reverting a file whilst open causes the file to not subsequently check out"
## Steps
- Open a file
- Make changes
- atom-perforce automatically checks out the file
- Save changes
- Open command panel and revert file
- File updates to reflect reverted changes
- Make more changes
### Expected Behaviour
- File checks out
### Actual Behaviour
- Nothing happens and on save you get a can not override warning
## Investigation

The issue is caused in the editor.buffer.onDidChange

[2015-08-11 15:36] vsriniva28 opened #27 "Perforce commands error out with Atom"
Hi,

I downloaded the perforce plugin and restarted Atom to use it. I am however unable to use the plugin to edit/save/revert files. The CLI works just fine from the project directory. I get the below error when using p4 commands via the Atom editor:

/single is outside any known perforce workspace
/home/vsriniva/.atom/packages/atom-perforce/lib/atom-perforce.js:541 Error: Command failed: /bin/sh

[2015-08-11 16:00] ghost commented on #27
You may need to make sure you're P4CLIENT is set correctly.

If you run p4 client from a command line, what workspace/client does it say you have ? Is this as you expected (and would contain the file you are trying to check out?)

[2015-08-11 17:31] vsriniva28 commented on #27
My perforce client points to /my/working/folder and the file I am trying to check out is within /my/working/folder/project/src/file.js

The CLI works fine with this configuration if I give the entire path to the file I am trying to check out. I suspect the plugin uses the entire path of the file too?

[2015-08-11 18:46] mattsawyer77 commented on #27
@vsriniva28 out of curiosity, is your workspace root at a higher level than the root of your p4 client root?

[2015-08-11 18:51] mattsawyer77 commented on #27
@vsriniva28 also, you said

and

it sounds like your CLI might not be setup fully, either. See http://www.perforce.com/perforce/doc.current/manuals/p4guide/chapter.configuration.html for more info on this.

Are you using OSX? If so, it's a known issues that Atom doesn't handle environment vars very well on the Mac unless you start atom from the terminal. My plugin attempts to work around this (in

[2015-08-26 21:07] mattsawyer77 commented on #27
I'm working on a refactor of environment handling now, but my colleague (and unwitting beta tester) says it doesn't work on his machine. Hopefully I'll iron things out soon.

[2015-09-04 20:01] unional opened #28 "Support p4 move/rename, copy, and delete"
Hi, first of all, I would like to thank you for creating this.  Without it, I simply won't have a chance to use atom for the project that I'm working on.

To make it useful to me (and my team), I need to have these additional commands available, especially move/rename.  I would definite want to contribute, but I don't have any experience in atom API.  Do you plan on adding move/rename anytime soon

[2015-09-08 18:47] mattsawyer77 commented on #28
@unional I'd like to implement features like this, but don't think Atom has nice idiomatic way of building features that require user input. I've been following https://github.com/atom/atom/issues/5756 to see what the way forward looks like. I'll leave this request open for now.

[2015-09-16 20:56] artagnon commented on #27
I'm having the same issue. A straight `/bin/sh -c "p4 opened ./..."` works fine, so I'm puzzled about what could be wrong. By the way, I guess we should use a read-only indicator (there's atleast one such package already) in conjunction with this.

[2015-09-16 20:58] artagnon commented on #27
Yeah, the client root is //foo/bar/ while the workspace root is /.

Wait, that's because the login shell is sh in OSX? Why do you need ENV vars? Isn't everything in the p4config?

[2015-10-26 14:04] hughbiquitous opened #30 "Automatic edit causes multiple errors"
I have auto-add, auto-edit, and auto-revert turned on. When I open a file that's not checked out and start editing, I get two orange warning alerts saying the file is already opened for edit followed by a green alert saying the file was opened successfully.

[2015-11-03 22:34] stewartlord opened #31 "Source .bash_profile on OS X"
Took me a while to figure out that you source .bashrc. On OS X the Terminal app sources .bash_profile so that is where most users put their environment variables (such as export P4CONFIG).

[2015-11-08 19:55] #26 closed, assigned to mattsawyer77

[2015-11-08 19:55] #31 closed, assigned to nobody

[2015-11-08 19:58] #30 closed, assigned to nobody

[2015-11-08 20:06] mattsawyer77 commented on #27
Sorry for the super-delayed response. Unfortunately, because this package relies on shelling out to run p4 commands, and because atom doesn't seem to do this automatically well (https://github.com/atom/atom/issues/6956), I am inextricably linked to environment variables. I'm about to publish a significant refactor of environment handling (v1.6) that might help the issue. If it doesn't, please let

[2015-11-08 20:06] #27 closed, assigned to mattsawyer77

[2015-11-09 18:45] unional opened #32 "Failed to activate the atom-perforce package"
[Enter steps to reproduce below:]
1. enable atom-perforce at a folder that is not under p4

**Atom Version**: 1.1.0
**System**: Microsoft Windows Server 2012 R2 Standard
**Thrown From**: [atom-perforce](https://github.com/mattsawyer77/atom-perforce) package, v1.6.0
### Stack Trace

Failed to activate the atom-perforce package

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[2015-11-09 19:08] mattsawyer77 commented on #32
just published a patch with 1.6.1, please let me know if that doesn't fix the problem as I don't have a windows environment setup to test this with.

[2015-11-09 19:13] unional commented on #32
That fixed the problem. Great speed! :)

Another one coming. :)

[2015-11-09 19:19] unional opened #33 "Incorrectly invoke windows file handling when not in p4 repo"
I use both git and p4 on my machine depends on what I'm working on.  When I'm in a p4 folder, it works fine. When I'm in a git folder, it keep popup the windows file handling dialog whenever I try to open and save file:

![screen shot 2015-11-09 at 11 16 27 am](https://cloud.githubusercontent.com/assets/3254987/11043835/82d7966e-86d3-11e5-9d0b-7a2cfaffbec2.png)

If I have set the default program f

[2015-11-09 19:58] mattsawyer77 commented on #33
@unional This doesn't make any sense to me. If you disable the atom-perforce plugin, and restart atom, do you still see the problem?

[2015-11-09 20:00] unional commented on #33
Yes. It happens whenever atom-perforce is re-enabled.

[2015-11-09 21:20] mattsawyer77 commented on #33
@unional I assume you meant "No", as in, the problem only occurs with atom-perforce enabled?

[2015-11-09 21:26] unional commented on #33
Correct.  When I disable `atom-perforce`, it is working fine.  this means I have to manually disable `atom-perfroce`, restart atom (before restart the problem persist), and then work on git projects.  And then re-enable `atom-perforce` when I work on p4 projects.

[2015-11-10 06:18] stewartlord commented on #31
Did you already tackle this a while ago in https://github.com/mattsawyer77/atom-perforce/commit/9482b650046aa98a77329ee10a91a932fb7ab087 ?

[2015-11-10 07:35] mattsawyer77 commented on #31
@stewartlord yes, but just now published the updated package. I'm now reading -- if your shell is bash -- .profile, .bash_profile, and .bashrc (in that order, last one wins in case of duplicate var names).

[2015-11-10 09:28] sh1ny opened #34 "No commands working after 1.6.0 when P4-related environment variables are not set"
Hey,

I am using atom and perforce on a daily basis. After upgrade to 1.6.0/1.6.1 it totally stopped working on my mac.

I have .p4config with p4password and i have .bashrc and .bash_profile. Nothing helped, i kept getting P4PASSWD not set, even if it was. Downgrading to 1.5.3 solved the problem.

What info can i provide so this get fixed ?

Regards,

[2015-11-10 16:59] mattsawyer77 commented on #34
@sh1ny I think I know the problem, should have a fix today. I haven't run into this in the past because I always login to p4 manually.

[2015-11-11 15:39] sh1ny commented on #34
Still no luck with that, upgrading to 1.6.2 didn't solve the problem.
I am on mac. Here's the console log :

atom-perforce: loading environment vars via command "/bin/bash -c 'source ~/.profile >/dev/null && env'"
/Users/nbochev/.atom/packages/atom-perforce/lib/environment.js:69 atom-perforce: loading environment vars via command "/bin/bash -c 'source ~/.bash_profile >/dev/null && env'"
/Users/nbo

[2015-11-11 20:03] mattsawyer77 commented on #34
@sh1ny that's odd. If you `p4 login` from your terminal, does that alleviate the issue? seems like a reasonable workaround, and it's more secure than storing your password in a file.

That said, I'm not sure why your .p4config file isn't being used here...

[2015-11-11 22:33] mdouglass commented on #34
I just upgraded from 1.5.3 to 1.6.2 and am running into the same problem.  Interestingly, I don't store my password in a config file and normally use `p4 login` from the command line.  I've verified that I am logged in and commands are working from the command line. But inside Atom, I see the same errors as @sh1ny.

[code]

[2015-11-12 00:15] #19 closed, assigned to nobody

[2015-11-12 08:41] sh1ny commented on #34
Yea i am logged in , and no, using p4 login and then opening atom, doesn't help with the issue at all.

[2015-11-13 05:47] stewartlord commented on #31
Nice! Thanks Matt

[2015-11-13 07:57] unional commented on #33
ok, I found the issue......it's quite a corner case. It issue comes from my file name: `p4.js`.  The popup appears whenever that tab is active.  The call to `atomPerforce.showClientName()` in L132 will invoke `cmd.exe /s /c p4 info` at my `src` directory containing the `p4.js`. So then, cmd.exe picked up the `p4.js` instead of `p4.exe` and invoke the file handling code.

It's a _bug_ in node_perfo

[2015-11-13 08:17] unional commented on #33
I have created a PR to fix the error when trying to run p4 command outside of the client root.

[2015-11-13 20:52] #33 closed, assigned to nobody

[2015-11-14 09:47] unional commented on #34
I don't use p4 in OSX environment so I can't test it. Put a breakpoint at [L131](https://github.com/mattsawyer77/atom-perforce/blob/master/lib/atom-perforce.js#L131) and look at the `environmentReady` value would give you a much better idea on what's going on.

[2015-11-14 17:39] mdouglass commented on #34
I left my laptop that has the issue at work, happy to take a swing at this on Monday.

[2015-11-16 17:51] mdouglass commented on #34
@unional , I set the breakpoint as suggested, the promise environmentReady is resolving successfully but as an empty object `{ }`.

Looking at the code, this seems appropriate for my configuration as I don't set any of the searched-for variables `P4CONFIG`, `P4IGNORE`, `P4PORT`, `P4USER`, `P4TICKETS`, `P4PASSWD` in `.bashrc` or `.bash_profile`.

I have `P4CONFIG` and `P4IGNORE` set via `p4 set -s`

[2015-11-16 20:09] unional commented on #34
I see. So then trace up a bit at L441 and see what's in the `openedBufferFilePath`, and use your terminal to go to the same folder and run the same command: `/bin/sh -c p4 diff  index.js` and see if you get the same error.

[2015-11-16 20:53] mattsawyer77 commented on #34
@mdouglass any reason you don't use env variables to set these values? I freely admit I am unaware of all the myriad ways of configuring a perforce environment and likely wrongly assumed everyone uses environment variables to do so. atom-perforce was written with this assumption.

[2015-11-16 20:56] mdouglass commented on #34
I'm not using environment variables because I work in an (admittedly unusual) environment where there are multiple perforce servers (one per project).  So at the top of the directory tree for each project I drop a .p4config file that has the proper settings for that tree.

[2015-11-16 21:01] mattsawyer77 commented on #34
my .p4config file is still utilized, although it only contains P4CLIENT. all other environment vars are set for me in .zshenv/.bashrc. Not sure what the difference is here.

[2015-11-16 21:32] unional commented on #34
I think I know what's need to get it fixed.  I have similar need (different scenario) in my `jspm-p4` module.
Probably need to get and set the workspace for each command except `p4 info`.
Get the code from my fork to try it out. I don't have the right environment to test it. https://github.com/unional/atom-perforce/tree/multi-workspaces

[2015-11-16 21:39] mdouglass commented on #34
Ok, so I did some more debugging and noticed a couple different things.

https://github.com/mattsawyer77/atom-perforce/blob/master/lib/atom-perforce.js#L537
I think the test of `p4info.currentDirectory` may be reversed. Shouldn't this be `&& !startsWith` instead of `|| startsWith`? Things definitely seem to get farther if I flip this test around.

The calls to p4 are using `/bin/sh` as the shell,

[2015-11-16 21:40] mdouglass commented on #34
@unional -- I'm still coming up to speed on atom, how can I install your fork of the plugin?

[2015-11-16 21:40] unional commented on #34
Seems like you need to set the workspace on each call except `p4 info`.  I work on a similar issue on `jspm-p4` and I able to get it to work by calling `p4 -c {workspace} {cmd...}`.
But seems like `node-perforce` does not allow that.

[2015-11-16 21:43] unional commented on #34
@mdouglass ah, you are right. I missed that one. PR coming in. :)
Forget about the fork for now, `node-perforce` doesn't allow me to do what I was trying to to. See the comment above.

[2015-11-16 21:44] mattsawyer77 commented on #34
I know it looks odd but trying to use any other shell (at least from in OS X) seems to prevent anything from working.

in order to use the source command (which is not an actual filename) I have to use $shell -c

[2015-11-16 21:46] unional commented on #34
@mattsawyer77 , on https://github.com/mattsawyer77/atom-perforce/blob/master/lib/atom-perforce.js#L537, what's the intent? Should the `setStatusClient()` still be called even if the current directory is not under the `clientRoot`?

[2015-11-16 21:49] unional commented on #34
nvm. Figured it out. PR is sent.

[2015-11-16 21:50] mdouglass commented on #34
Fair enough, just wanted to mention it in case it was relevant.

Agreed. My point was that `child_process.exec` is doing that for you (see the docs at https://nodejs.org/api/child_process.html#child_process_child_process_exec_command_options_callback, particularly the options.shell comment). That being said, it does not help with this issue, just something I noticed.

[2015-11-16 22:06] mdouglass commented on #34
Ok, I think I figured it out this time.

https://github.com/unional/atom-perforce/blob/multi-workspaces/lib/atom-perforce.js#L30 runs all the p4 commands with an empty environment other than the extracted P4 variables. This means that the `HOME` variable is dropped from the shell's environment, which I believe is how p4 is tracking back to find the .p4tickets file. I can duplicate this on the comm

[2015-11-16 22:45] mattsawyer77 commented on #34
@mdouglass ah, that could be. I might have been sidestepping this issue by doing `export P4TICKETS=$HOME/.p4tickets` in my ~/.zshenv.

[2015-11-16 22:56] #34 closed, assigned to mattsawyer77

[2015-11-19 10:23] DusanMadar opened #39 "Atom + Perforce plugin not working on Xubuntu"
Perforce integration in `Atom 1.2.2` is not working on `Xubuntu (Ubuntu 14.04.3 LTS)` since recent updates. Unfortunately, I don't remember the exact version which introduced this. I updated the Perforce plugin at least two times recently.

Before it was working OK but only when Atom was launched from the command line.

Now it is not working at all, regardless of the way Atom is started (from comm

[2015-11-19 19:26] TheGoctor commented on #39
I'm getting the same issue in Windows 7 64-bit. I was able to fix it by rolling back to v.1.6.4.

**EDIT:**
Rolling back to 1.6.4 brought the version control icon back, but the console said I wasn't in a known workspace directory (I was). Rolling back to 1.6.2 restored full functionality.

[2015-11-19 19:40] unional commented on #39
The version control icon was a false alarm. Fixed in latest build (my bad). Besides the icon, does it run correctly?  It is working for me on Win2012 R2

[2015-11-19 19:42] unional commented on #39
@TheGoctor , There was an issue on the workspace that I tried to fix with `p4Info.currentDirectory.startsWith(p4Info.clientRoot)` instead of `{dir}.startsWith(p4Info.clientRoot)`. You having the issue on 1.6.6?

[2015-11-20 01:40] TheGoctor commented on #39
On 1.6.6 I get this message in the console when I try to edit:

[code]

Outside of the console message, there is no indication that the plugin is functioning at all. Rolling back to 1.6.2 without changing anything else works fine.

[2015-11-20 02:36] unional commented on #39
What do you see on the p4Info?
It is likely that on ubuntu (or your environment) `p4Info.currentDirectory` and `p4Info.clientRoot` is not what expected on windows.

Do you have multiple P4CLIENT on your system?

On Thu, Nov 19, 2015 at 5:40 PM TheGoctor notifications@github.com wrote:

[2015-11-20 17:46] TheGoctor commented on #39
I have a single P4CLIENT on my system, all config settings are set through environment variables, and `p4 info` shows the following:

[code]

The only oddity I notice here is that the current directory has a lowercase drive letter, while the client root is uppercase. Perhaps this is what's different between `p4Info.currentDirectory` and `{dir}`?

[2015-11-20 18:04] unional commented on #39
Yep, that's the issue.  Seems like different system behaves differently. In my system the are both lower case while the input (dir/openbufferfilepath/etc) are in uppercase.

Filing PR.

[2015-11-20 18:10] unional commented on #39
@DusanMadar, do you know if what you experience is from the same problem?

[2015-11-20 23:08] unional opened #41 "High (and stuck) pending request count"
![image](https://cloud.githubusercontent.com/assets/3254987/11314228/94e015e8-8f98-11e5-870d-45c01d3de7b2.png)

And it stays there

[2015-11-23 09:36] DusanMadar commented on #39
The problem in my case is: `Unable to save file: Permission denied`, on `Atom 1.2.3` with `atom-perforce 1.6.6`.
So it seems that perforce integration is not triggered. Also, using actions from menu `Packages > Perforce > ...` seems to have no effect at all.

I am on `Linux` and there is no difference in case of `current directory` and `client root` (both are lowercase) based on `p4 info` output.

[2015-11-25 05:54] #39 closed, assigned to nobody

[2015-11-25 06:11] mattsawyer77 commented on #41
not sure what this is. can you elaborate?

[2015-11-25 08:11] unional commented on #41
Arr, nevermind. Was trying to create an issue on `atom-typescript`

[2015-11-25 08:11] #41 closed, assigned to nobody

[2015-11-30 17:30] KoltesDigital opened #43 "Enclose paths in quotes"
When I edit a file containing a space in its name, say `path\foo bar.txt`, in my P4V I get two files marked as added, `path\foo` and `path\bar.txt`.

The toastr is

[code]

I'm under Win 7 x64 with Atom 1.2.4, atom-perforce 1.6.7.

[2015-12-01 11:02] KoltesDigital commented on #43
[code]

Escape with a caret symbol `^` instead.

[2015-12-01 17:33] #43 closed, assigned to mattsawyer77

[2015-12-15 20:05] DusanMadar commented on #39
This is what fix the problem for me: http://dm295.blogspot.co.uk/2015/12/atom-editor-and-perforce-integration-on.html

[2015-12-16 00:09] mattsawyer77 commented on #39
thanks @DusanMadar . I had assumed most p4 users setup their environment this way anyway. But I will add some notes about this to the readme.

[2015-12-16 14:19] PhiLhoSoft opened #46 "It doesn't work on Windows"
OK, title is a bit provocative, I should add "out of the box"...

First, thanks for the plugin: we use Perforce at work, and hand-checking out these pesky read-only files would be a pain... I used Brackets previously, it has a similar plugin (but more primitive), it is very useful (although intermittently failing, probably because P4 doesn't answer fast enough).

I use Atom 1.3.1 on Win7.
P4 is in

[2015-12-16 14:24] PhiLhoSoft commented on #46
settings.js: `defaultWindowsP4Directory = 'C:\Program Files\Perforce'`
These backslashes are not valid! Must be doubled, \P isn't a valid escape...

[2015-12-16 14:55] PhiLhoSoft commented on #46
OK, found an issue, line 169 of atom-perforce.js
`p4Info.currentDirectory.toLowerCase().startsWith(p4Info.clientRoot.toLowerCase())`
`p4Info.currentDirectory` is `"c:\Sources\someProject\somePath\etc"`
`p4Info.clientRoot` is `"C:/Sources"`
Note that my P4ROOT environment variable is `C:\Sources`...

The paths should be normalized at some point (and you should pull out this test to its own function

[2015-12-16 18:38] unional commented on #46
Let me take a look into it. I introduced that code.

But why would you have `C:/Source`...that's not normal in Windows.

[2015-12-16 18:58] unional commented on #46
@mattsawyer77 , do you mind if I add testing using `mocha` and `chai` in your project?

[2015-12-16 19:34] unional commented on #46
FYI, my `p4` on windows server 2012 R2 is installed at `C:\Program Files\Perforce\p4.exe`. So just checking platform seems to be not sufficient.
Considering `where p4` on windows.

[2015-12-16 20:44] mattsawyer77 commented on #46
@unional that would be awesome. thanks for all your help!

[2015-12-16 22:44] unional commented on #46
@PhiLhoSoft , it should work when @mattsawyer77 merge #49 . I originally didn't pull it into its own function because I don't want to introduce extra changes. But now it is . :)

[2015-12-17 08:51] PhiLhoSoft commented on #46
I made some changes to see if I can make it to work... At least, it was interesting to see I can easily hack and debug an Atom package... :smile:

I can confirm it works after normailizing the slashes. I still see an error at start on `p4 info`, I will investigate. (Or perhaps I got it because I wasn't logged in yet in Perforce? Will check.)

[code]

and called `checkIsInWorkspace(p4Info)` everywh

[2015-12-17 08:56] unional commented on #46
Oh, didn't know `where p4` might not work. Will test it on another system
tomorrow. Thanks!
On Thu, Dec 17, 2015 at 12:51 AM Philippe Lhoste notifications@github.com
wrote:

[2015-12-17 12:27] PhiLhoSoft commented on #46
Errors on startup: I get them on the `getOpenedFiles` call, and on the `showClientName` one.
Both fail because they call `p4 info` on a path that isn't legal: `atom://about`.
I think I get the latter because Atom display an About page on startup, and I haven't figured out yet how to get rid of it, but it should be handled anyway.
Perhaps with a test if the path starts with `atom:` to avoid this sp

[2015-12-17 12:35] PhiLhoSoft commented on #46
OK, i no longer have errors in the console, and I can check out files.
I am a bit in a hurry, and won't have time to do a real PR, so I just pasted the file with my changes at https://gist.github.com/PhiLhoSoft/091f05e78e6df3472096

Just take inspiration from these changes, perhaps, improve them (they are a bit hasty, etc.). Feel free to use at will.

[2015-12-17 18:27] unional commented on #46
Fix is in #50 . :)

[2015-12-17 18:59] michalgm opened #51 "Not parsing workspace name correctly?"
When I try to save (and use the auto-edit feature), I get the following error in the console:

[code]

when i run p4 info, i get:

[code]

so it seems that the plugin is getting thrown off by the dash in the client name?
Let me know if there's anything I can do to help debug this. I'm using version 1.7.0.
Thanks!

[2015-12-17 19:15] unional commented on #51
My client name has dash too. That shouldn't be the problem

[2015-12-18 03:46] unional commented on #51
Whats' the p4 client reported on atom (lower right corner)? You can also place a break point at https://github.com/mattsawyer77/atom-perforce/blob/master/lib/atom-perforce.js#L55
to find out.

[2015-12-18 18:00] michalgm commented on #51
It looks like it is sending false to setStatusClient. I backed up one
function, and outputted the value of p4Info:
{
caseHandling: "sensitive"
clientAddress: XXX
clientHost: "gregm"
clientName: "gregm"
clientUnknown.: "Client unknown."
currentDirectory: "/home/gmichalec/.atom/packages/atom-perforce/lib"
peerAddress: XXX
serverAddress: XXX
serverCertExpires: "Apr 6 18:43:02 2025 GMT"
serverDate: "2

[2015-12-18 19:00] unional commented on #51
I think the `currentDirectory` is where the problem is. It should be your code directory.

@mattsawyer77 has the `clientUnknown.` in there to begin with.  I don't know what it is and how it happens. :)

[2015-12-18 19:32] michalgm commented on #51
sorry - that currentDirectory is set to "/home/gmichalec/.atom/packages/atom-perforce/lib" because that is what I was viewing at the time. When I view a file in my code path, that parameter is set as I would expect.

[2015-12-18 19:33] unional commented on #51
In that case do you see the `clientUnknown.`? @mattsawyer77 check that to reject the p4client.

[2015-12-18 19:35] michalgm commented on #51
Yes, `clientUnknown.: "Client unknown."`

[2015-12-18 20:19] unional opened #52 "Should `revert` also revert the changes?"
Currently `revert` only resets the p4 command, but the file still has the change. So when I save the file, it becomes add/edit again.

[2015-12-18 21:35] mattsawyer77 commented on #52
I wonder if this is windows-specific? Last time I used revert on Mac it did reload the file from disk.

[2015-12-23 04:40] unional commented on #52
Could not reproduce. Seems to be working

[2015-12-23 04:40] #52 closed, assigned to nobody

[2015-12-23 04:40] unional opened #53 "Support p4ignore"
https://www.perforce.com/blog/120214/new-20121-p4ignore

Currently `atom-perforce` will try to add the file every time I save the file.

[2016-01-04 12:07] PhiLhoSoft commented on #46
I updated the package, and I can confirm it works out of the box, now. So you can close the issue.

But I suggest to remove lines like `console.log(result);` to avoid spamming the console. Thanks.

[2016-01-06 17:51] michalgm commented on #51
I was able to get this working correctly by adding 'P4CLIENT' to the envVarsToExtract array in atom-perforce.js. Is there a particular reason this was not included originally? Let me know if you'd like me to do make a Pull Request. Thanks!

[code]

[2016-01-06 17:51] #51 closed, assigned to nobody

[2016-01-06 21:29] mattsawyer77 commented on #51
@michalgm to my knowledge, most users set P4CLIENT via a .p4config file in the root of their perforce workspace. Do you only have 1 workspace on your machine? If not, how do you manage this env var? Nevertheless, I don't have a problem accepting a PR on this.

[2016-01-06 21:38] mattsawyer77 commented on #53
@unional I wasn't sure how to contact you. But I've made you a collaborator on this project, in case you want to push directly to the repo. side note: I am not using Atom right now (and I'm primarily using git -- though still inside perforce), so my activity on this project may be a bit slow.

[2016-01-06 21:38] #46 closed, assigned to nobody

[2016-01-06 21:39] mattsawyer77 commented on #53
sorry just now thought about the actual topic. why don't you want to check in your .p4ignore file?

[2016-01-06 21:43] michalgm commented on #51
Ok - just submitted a PR. Yeah, this is just how we do perforce where I
work - no .p4config, just the P4CLIENT env var, which I manage by having
in my .profile. Thanks so much for writing this - permission errors from
editing unopened p4 files had been my bane!

On 01/06/2016 01:29 PM, Matt Sawyer wrote:

[2016-01-06 21:48] mattsawyer77 commented on #51
@michalgm you're welcome!

for future reference, you can `export P4CONFIG=.p4config` in your profile/bashrc/whatever and then use a .p4config file in the root of your workspace (which would contain `P4CLIENT=<client name>`). This file can contain just about any p4-related var. This is pretty much essential if you have multiple workspaces on your machine.

[2016-01-06 21:52] unional commented on #53
:)

Sorry I didn't make it clear in my original message.  What I meant is changing the files specified in `.p4ignore`.

e.g., I want to ignore `*.json`, and when I add/edit/save `abc.json`, `atom-typescript` tries to `add/edit` the file, which p4 will complain.

[2016-01-06 21:54] mattsawyer77 commented on #53
OK, that makes sense.

[2016-01-07 11:17] PhiLhoSoft commented on #53
A good support of .p4ignore should also comply to the **Exclude VCS Ignored Paths** setting, ie. if checked, they should disappear from the tree-view and from the searches.

Currently, I use the _atom-tree-ignore_ package for that, duplicating part of the .p4ignore content, and it doesn't support hiding from searches.

The above package uses the [ignore NPM library](https://www.npmjs.com/package/i

[2016-01-07 11:29] PhiLhoSoft opened #55 "Don't error on not managed projects"
It is kind of related to #15. When I open a project that's not managed by Perforce, I see errors in the console. It is a minor issue, but I think it would be better if the package just shut off and disable itself on such project.
The error:
![atom-atom-perforce-notmanaged](https://cloud.githubusercontent.com/assets/1087902/12169513/3dea9094-b539-11e5-9707-886ef7b1dcd8.png)
In short, in textual for

[2016-01-07 11:35] PhiLhoSoft commented on #28
While I understand the request (it works in Eclipse, after all), I also understand it might be not trivial to do.
Personally, I just use P4V (the excellent visual client) for such operations, and more like file history, time-lapse view, etc. Actually, I prefer to use these latter features in P4V rather than in Eclipse. There is little point in trying to cram everything in one (external) tool.

[2016-01-07 19:01] unional commented on #55
That seems like a regression. I had a PR to fix that.  Let me check

[2016-01-08 07:56] unional commented on #55
@mattsawyer77 , how do you update the CHANGELOG? Are you doing it manually?

[2016-01-08 08:05] mattsawyer77 commented on #55
@unional I use this tool: https://github.com/skywinder/github-changelog-generator

Basically I do the following:

[code]

then I edit CHANGELOG.md, replacing the unknown version #s with the next version (apm patch increments the 3rd digit, apm minor increments the 2nd digit, and apm publish major increments the first digit. then I make that commit)

then

[code]

hope that helps.

[2016-01-08 08:31] unional commented on #55
Done! :rose:

[2016-01-08 09:07] unional commented on #28
The main reason for this request is to capture the action done inside atom, as you can rename/move/delete from easily within atom (and very natural to do, just drag and drop or F2/Enter).

Instead of opening p4v for those operation.  File history, etc, are completely natural to do inside p4v.

[2016-01-08 09:52] PhiLhoSoft commented on #28
Yes. As I wrote, I understand the need, and I find it useful. It is, somehow, even more crucial for Perforce because unlike Git, it won't automatically reconcile such external operation with an internal one.
Note that it is true also for doing such operations with mv or in Windows Explorer or similar (unless you have some shell extension)..
My remark was just: it doesn't shock me that this feature

[2016-01-08 18:37] unional commented on #55
@PhiLhoSoft , does the new version solve your problem?

[2016-01-10 17:18] PhiLhoSoft commented on #55
Sorry for the delay, I waited to be able to test at home.
At work, the fix is effective, I no longer have an error when I have multiple projects (one under Perforce, the other not) opened.
At home (Windows 10), I still have errors, alas.
![atom-atom-perforce-noperforce](https://cloud.githubusercontent.com/assets/1087902/12222765/2808619a-b7c6-11e5-8ebb-d8438dba5d74.png)

As said, p4 isn't installe

[2016-01-10 23:21] unional commented on #55
You are right. I forgot to consider that. :P

[2016-01-10 23:33] unional commented on #55
@PhiLhoSoft , like you said, it is related to #15 and I think that's the best way to fix this issue.
@mattsawyer77 , what do you think? I don't want to make any big changes without your input. :rose:

[2016-01-11 13:41] graehu opened #56 "Minimap Diffs"
It'd be great if this could support something similar to [Minimap-Git-Diff](https://github.com/atom-minimap/minimap-git-diff).

[2016-01-11 22:46] mattsawyer77 commented on #55
If someone wants to implement #15 that would be cool. I'd like the see the PR for it before it's merged though.

[2016-01-12 07:30] unional commented on #15
After a more detailed look, I think the `activationCommands` needed is `open-project` or `open-file`. One of the feature `atom-perforce` provides is to show the client name in the status bar. That will and should be available for any file opened.

I don't know about the actual `activationCommands` names, as I can't find any documentation about them.

@mattsawyer77 , any idea?

[2016-01-12 10:18] PhiLhoSoft opened #57 "Remove diff logs"
In the console, I see diff traces of every opened files. It spams the console and tend to hide real errors.

I suggest to either remove the `console.log` call in `getChanges()`, or at least to make it opt in in the settings.

Thanks.

[2016-01-12 18:25] unional opened #58 "disable if p4 is not available"
Spin-off of #55 ,

To fix this, I propose some refactoring is needed:
- Move activate/deactivate code from `main` into `atom-perforce.start/stop`
  - dispose commands added if `p4` is not available

[2016-01-12 18:26] unional commented on #55
Close this for #58 "Don't error on not managed projects" is fixed.

[2016-01-12 18:26] #55 closed, assigned to nobody

[2016-01-14 04:09] unional opened #59 "p4 edit file again if the file has been submitted"
For auto-edit feature.

Currently file cannot be saved because p4 make the file read only after submit. `atom-perforce` should detect that and edit the file again.

[2016-01-22 03:09] unional commented on #33
FYI the cause of this has been fixed in `node-perforce`. Once a new version is available, this will not happen

[2016-01-22 06:52] unional commented on #58
@PhiLhoSoft, while you sync your installed packages across machines, would you or can you disable `atom-perforce` in your home machines while let it enable at work?

Is [this](https://github.com/Hackafe/atom-sync-settings) the package you use?
While I can do something about it, it seems more like a general issue (i.e. different machine has different environment).

So it may be better if it is a fe

[2016-01-22 07:49] PhiLhoSoft commented on #58
Yes, that's the one.
Indeed, I start to think packages should not be synched by default, it should be opt in, at best: we can use different VCS, different languages, etc.
Yes, if atom-perforce could do a simple check to avoid to error when p4 is not available, that would be still nice... :smile:

[2016-01-25 11:56] PhiLhoSoft commented on #59
Ah, that explains the errors I get after submitting a CL! I have then to use P4V to check out the file. :unamused:

[2016-01-25 11:59] PhiLhoSoft opened #60 "Annoying message: "Perforce: file already opened""
After latest update, I regularly get the following message (as an error in the Atom interface itself):

This happens when I come back to a file I indeed edited earlier (in the same session).
I hadn't the error before.

[2016-01-25 19:51] #60 closed, assigned to nobody

[2016-01-25 20:34] unional commented on #59
Currently a workaround for this issue is close all files after you submit.  When a file is opened, `fstat` will be called and trigger listening to `onDidChange` again... at least according to how I understand the code.  Will update if that is not the case.

[2016-01-25 21:08] mattsawyer77 commented on #59
@PhiLhoSoft @unional Or can't you also just use the p4 edit command (should work regardless of whether auto edit is enabled)?

[2016-01-25 23:34] unional commented on #59
Yes. I also do manual p4 edit when that happens.

[2016-01-26 18:03] PhiLhoSoft commented on #59
@unional Good trick, I will close all tabs after a commit. Sane in Atom anyway, as the number of tabs tends to grow unweildy.
@mattsawyer77 Yes, I do the equivalence of p4 edit in P4V, but then we loose the interest of the package, no?
Or do you mean we can do this command manually with your package? Ah, yes, more convenient, at least.

[2016-01-26 18:18] mattsawyer77 commented on #59
@PhiLhoSoft I meant the p4 edit command that this package provides in Atom's command palette.

[2016-01-26 18:34] unional commented on #59
@mattsawyer77 I created a gitter chat room. We can discuss about how to make changes to the project there.  I don't want to do any refactoring without first talking to you. :rose:

[2016-01-30 00:38] githubbri opened #62 "Styling doesn't get applied when adding"
Hi,

The files in the tab bar and the tree are salmon coloured when they are checked out. This does not happen when I use atom-perforce the check out a new file. It remains the original colour in both the tree and the tab bar. It applies the correct colour when I refresh Atom.

Thanks!

[2016-02-12 18:12] martinAnsty opened #63 "File add fails when changing focused file"
If you use the `P4: Add` command or save a new file with "add file on save" enabled, then switch tabs to a different file, atom-perforce will attempt to add the file currently in focus rather than the file it was called on.

[2016-02-17 21:23] artagnon opened #64 "Unable to recognize workspace"
I get "... is outside any known perforce workspace" for a valid workspace. Please tell me what details I need to dig out.

[2016-02-17 21:58] unional commented on #64
Can you post your `p4 info` at your project directory?

[2016-02-18 15:16] artagnon commented on #64
[code]

[2016-02-18 15:24] mil-ad opened #65 "p4 not found on PATH"
Hi,

I have not managed to make atom-perforce find the p4 binary. It's definitely on my PATH and I have specified the path in atom-perforce settings. I use it all the time from terminal.

The console output in Atom gives me this:

[code]

When I run this manually in my terminal it works just fine.

I tried looking at process.env.PATH and it does include the path to p4 binary.

Any suggestions?

[2016-02-18 18:34] unional commented on #64
Your current directory is fine. Just tested it.

Does it happen to all files in that directory?

[2016-02-18 18:36] unional commented on #64
What is the path in the " ... is outside any known perforce workspace"? It is your current directory?

[2016-02-18 18:39] unional commented on #65
@mattsawyer77 , I'm not familiar with shell. Any input?

[2016-02-18 19:40] mattsawyer77 commented on #65
/bin/sh is the default shell for unix node.js, regardless of /etc/passwd. But environment.js is supposed to read your shell environment config file and use that when executing commands, even though it's executing them with /bin/sh. What's your shell? And where is p4 on your machine? Do you have the path to it configured in your shell init file?

[2016-02-19 08:41] mil-ad commented on #65
@mattsawyer77 I'm using zsh but I tried starting atom from sh and it didn't make a difference. My PATH is defined in my .zshrc

My p4 binary is in a random location but I tried moving it into the default /usr/local/bin but it made no difference.

[2016-02-19 08:49] mattsawyer77 commented on #65
that's odd. can you try a couple of things:
1. put your export PATH in ~/.zshenv
2. if that didn't work, try launching atom from the terminal

[2016-02-19 09:04] mil-ad commented on #65
That made no difference. I have no experience with javascript so I don't know where it's looking for PATH but if it's process.env.PATH then I can see in the debugger that it's the correct one and includes p4 binary. Strange.

[2016-03-02 06:22] artyomtrityak commented on #65
@mi-lad open atom from terminal, assume you are in the project root folder

[code]

[2016-03-29 19:33] #64 closed, assigned to nobody

[2016-04-01 20:18] lqlau opened #68 "At Cannot read property 'split' of undefined"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.7.0-beta4
**System**: Microsoft Windows 10 Pro
**Thrown From**: [atom-perforce](https://github.com/mattsawyer77/atom-perforce) package, v1.7.6
### Stack Trace

Failed to activate the atom-perforce package

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-04-08 18:47] maxnoel commented on #68
This issue isn't specific to atom-perforce, it's a regression in Atom 1.7.x beta :  https://github.com/atom/atom/issues/11302

(on Windows, `process.env`'s keys are no longer case-insensitive, and since there's a good chance your `%PATH%` is `Path` instead of `PATH`, boom)

[2016-04-13 20:44] yordis commented on #32
@mattsawyer77 I am using 1.7.6 and give me this error as well.

I have open atom with 3 perforce mappings inside. I don't know if this can cause problems.

[2016-04-13 21:30] unional commented on #32
Very likely. We currently only support one

[2016-04-13 21:32] yordis commented on #32
@unional is there anyway to do this. Can you just give me some line for reference about this configuration and I can do something about it.

Also the ability to add the P4 configuration like server, username and so on.

[2016-04-13 21:41] unional commented on #32
Actually I am wrong. It should work.  Can you verify your error stack trace?

[2016-04-14 11:22] PhiLhoSoft commented on #68
Argh, now 1.7 is released, and I have the issue too!
Seriously? They released a new version which knowingly breaks existing packages?

[2016-04-14 14:18] KoltesDigital opened #69 "Uncaught TypeError: Cannot read property 'split' of undefined"
[Enter steps to reproduce below:]
1. Open a directory in Atom, with no sub directories.
2. In this directory, create a sub directory using the Windows Explorer.

**Atom Version**: 1.7.0
**System**: Microsoft Windows�7 Entreprise
**Thrown From**: [atom-perforce](https://github.com/mattsawyer77/atom-perforce) package, v1.7.6
### Stack Trace

Uncaught TypeError: Cannot read property 'split' of undefi

[2016-04-14 21:00] dander commented on #69
This looks like a duplicate of #68

[2016-04-14 21:05] #69 closed, assigned to nobody

[2016-04-14 23:37] stefangotz commented on #68
+1

[2016-04-19 08:07] PhiLhoSoft commented on #68
Might I risk a suggestion? Atom doesn't seem to be fixing this issue quickly.
Meanwhile, perhaps if you get an empty `PATH` environment variable, you can try and read the `Path` one? At least, it is unlikely somebody named it paTh or something...
Having this package broken is really annoying for daily dev tasks at work.
Thanks.

[2016-04-19 18:00] unional commented on #68
It's a good idea, I almost did it, but seems like it issue is fixed and merged. Can you verify?
https://github.com/atom/atom/pull/11489

[2016-04-19 21:47] PhiLhoSoft commented on #68
I don't know in which version of Atom it will appear. I upgraded today to 1.7.2 without improvement. But indeed, that's good news, and I suppose we just have to wait. :smile:
Will confirm here once I see it fixed, so that you can close the issue.

[2016-04-25 23:53] yufanyufan opened #71 "Show "p4 opened" in a panel and support cl arrangement."
For example, move a file from on cl to another.

[2016-04-26 06:53] olaekelund commented on #32
This issue started to appear on my computer for about a week ago. No changes has been made to the atom or perforce setup that should cause this.

[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.7.2
**System**: Microsoft Windows 10 Pro
**Thrown From**: [atom-perforce](https://github.com/mattsawyer77/atom-perforce) package, v1.7.6

### Stack Trace

Failed to activate the atom-pe

[2016-04-27 06:20] unional commented on #32
This is the `Path` vs `PATH` issue in atom

[2016-04-27 06:55] olaekelund commented on #32
What that issue about?

[2016-04-27 16:31] yordis commented on #32
Just in case, could be that you can't find the Perforce configuration file?

I used Intellij and even there I configure the P4 connection per project.

[2016-04-27 18:48] unional commented on #32
https://github.com/mattsawyer77/atom-perforce/issues/68

Please check out existing issues. Thanks. :tulip:

[2016-04-28 06:25] olaekelund commented on #32
It was the Path issue. Thanks.

[2016-04-28 07:28] devilpig commented on #68
This issue is still valid in 1.7.2...Any idea when it will be fixed? :)

[2016-04-29 20:14] unional commented on #68
That sucks. I don't have time to work on it these two weeks. The fix is simple. Can anyone help with a PR?

[2016-04-29 22:33] devilpig commented on #68
Changing to Path, as PhiLhoSoft suggested seems to work as a temporary fix :) thanks for the help!

[2016-05-01 18:35] mattsawyer77 commented on #68
I have a patch up, but not a good way to test it (as in soon, and, in Windows): https://github.com/mattsawyer77/atom-perforce/commit/e93522e55baa6851ce3fc6f539a050f4ddf8909c
Would someone mind doing a quick smoke test on this? @devilpig @unional @PhiLhoSoft @lqlau @maxnoel ?

[2016-05-01 18:36] maxnoel commented on #68
I'll give it a shot tomorrow at work. It looks like it should work.

Meanwhile the proper fix is in Atom master, but hasn't reached even 1.8.0-beta2 :(

[2016-05-02 11:03] PhiLhoSoft commented on #68
OK, I made a quick test: edited atom-perforce.js with your changes, restarted Atom: no more error message on start up, was able to check out a file by editing it.
So you patch works for me.
Might be worth keeping in source, as they can mess up this path thing another time... :smile:

[2016-05-02 15:49] mattsawyer77 commented on #68
@PhiLhoSoft thanks for testing. and my TODO comment was not directly related to the upstream bug, but merely that I don't want to do this global state mutation at all :)

[2016-05-08 01:17] mattsawyer77 commented on #68
closed via https://github.com/mattsawyer77/atom-perforce/commit/e93522e55baa6851ce3fc6f539a050f4ddf8909c

[2016-05-08 01:17] #68 closed, assigned to nobody

[2016-08-12 17:26] flatiron32 commented on #65
I am having the same issue using bash. When I execute `/bin/sh -c 'p4 info'` from Terminal it works just fine.

[2016-08-12 17:28] mattsawyer77 commented on #65
@flatiron32 can you check whether p4 is found on the path as defined in `~/.bash_profile` ?

[2016-08-12 17:32] flatiron32 commented on #65
I modified my `~/.bash_profile` to echo the path and which p4.

[code]

[2016-10-11 17:34] mdouglass commented on #32
I am newly seeing this issue with atom-perforce 1.7.8 and Atom 1.11 as of this morning.

[code]

[2016-10-11 18:07] iancheng commented on #32
I am also seeing this issue upon updating to Atom 1.11.0. The "View Issue" button in the dialog links me here :)

Atom Version: 1.11.0
System: Mac OSX El Capitan 10.11.6
Thrown From: atom-perforce package, v1.7.8

[code]

[2016-10-12 08:30] devilpig commented on #32
I also have this issue after updating to Atom 1.11.1
System: Windows 7
Thrown from: atom-perforce package, v1.7.8

`TypeError: Arguments to CompositeDisposable.add must have a .dispose() method
    at assertDisposable (C:\Users\fredriks\AppData\Local\atom\app-1.11.1\resources\app.asar\node_modules\event-kit\lib\composite-disposable.js:70:13)
    at CompositeDisposable.module.exports.CompositeDispo

[2016-10-13 02:47] greatelv opened #72 "atom-perforce package issue"
plz confirm the error.

[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.11.1
**Electron Version**: 0.37.8
**System**: Mac OS X 10.12.1
**Thrown From**: [atom-perforce](https://github.com/mattsawyer77/atom-perforce) package, v1.7.8
### Stack Trace

Failed to activate the atom-perforce package

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-10-13 06:05] mattsawyer77 commented on #72
duplicate of #32

[2016-10-13 06:05] #72 closed, assigned to nobody

[2016-10-13 18:29] mattsawyer77 commented on #32
haven't looked deeply into this yet, but it could be an upstream bug: https://github.com/atom/atom/issues/12963

[2016-10-14 21:36] saperio commented on #32
Hi, I add a pr to fix this: https://github.com/mattsawyer77/atom-perforce/pull/73

[2016-10-15 20:52] #32 closed, assigned to mattsawyer77

[2016-11-25 13:33] Abyss116 opened #74 "extremely slow while expand folders containing massive items"
It seems the atomPerforce.fileIsTracked which queries fstat caused an extremely slow response(blocking) while expand folders containing massive items source controlled.

[2016-12-01 20:54] mattsawyer77 commented on #74
@Abyss116 are you sure fileIsTracked is causing issues? It's not blocking anything and should only be called for the file in the current buffer.

Seems more likely that markOpenFiles could be problematic since it watches the tool-panel for changes and has some blocking DOM inspection calls. If this is the problem, we could add a setting to disable the tool-panel style decorations for this kind of

[2016-12-11 16:47] Abyss116 commented on #74
@mattsawyer77 I'm not sure.  Makes sense if that's caused by markOpenFiles if there're thousands of files in the directory tree.  Add a setting for disabling the style decorations sounds perfect.  Thanks.

[2016-12-19 22:34] madakk opened #75 "Tree marking is case-sensitive"
The code looking up the currently open files assumes the paths are the same case as the path data in the tree, but that doesn't always seem to be the case. For example, in my case, the P4 workspace root was set to "c:\" with a lowercase C, but in the tree the paths had an uppercase C, causing the marking to fail.

[2016-12-19 22:35] madakk commented on #75
I guess this goes beyond marking, the code matching the current buffer with any open files suffers from the same problem.

[2016-12-29 17:19] hspazio commented on #65
Hope I'm not too late to the party :)
I've struggled for a day trying to get Atom recognizing the PATH var. I had the PATH exported into `~/.bash_profile` and also the location defined in the settings. Nothing was working so I opened the source code and after some debugging I found out that the PATH variable is not parsed, hence not passed to the command line.

Here is my fix (file `~/.atom/packag

[2017-01-17 23:02] mattsawyer77 commented on #65
@hspazio sorry for the slow response (my GitHub notifications seem to be failing). I haven't had time to work on this plugin but your fix seems fine to me -- would you mind creating a pull request?

[2017-01-18 19:12] Yanchek99 opened #76 "Object.dirname is deprecated."
Argument to `path.dirname` must be a string
[code]

[2017-01-20 14:07] bquack commented on #76
Experiencing the same error on Atom version 1.13.0. Windows 10

[2017-05-31 16:30] hspazio commented on #65
@mattsawyer77 any news on this PR? :)

[2017-05-31 23:12] #65 closed, assigned to nobody

[2017-07-05 16:29] ghost commented on #76
Experiencing the same error on Atom version 1.18.0. Windows 7

[2017-08-01 12:10] freeblank opened #79 "Auto revert"
i have make a lot of change with my life, it have auto checkout by atom-perforce, but when i close the file by accident, the file have been auto revert now! i have lost my whole day job!

[2017-09-28 18:06] coolgeng commented on #76
Experiencing the same error on Atom version 1.20.1. Mac Sierra

[2017-10-31 20:16] maxbrunsfeld opened #80 "Changes to TextEditor.onDidChange and TextBuffer.onDidChange coming in Atom 1.23"
Hi! Thanks for maintaining the atom-perforce package!

In Atom v1.23, we will [some](https://github.com/atom/text-buffer/pull/273) [changes](https://github.com/atom/text-buffer/pull/274) that may affect your package.

The methods `TextEditor.onDidChange` and `TextBuffer.onDidChange` will now call their callbacks *less frequently*. Previously, these callbacks would get called once for each individu

[2017-11-01 17:50] Lebios commented on #76
Experiencing the same error on Atom version 1.21.2. win7

[2017-11-28 07:51] HaNaK0 opened #81 "Uncaught TypeError: editor.getPath is not a function"
[Enter steps to reproduce:]

1.Open a document for edit
2. Going to Packages -> Perforce -> Revert

**Atom**: 1.22.1 x64
**Electron**: 1.6.15
**OS**: Microsoft Windows 10 Enterprise
**Thrown From**: [atom-perforce](https://github.com/mattsawyer77/atom-perforce) package 1.7.11

### Stack Trace

Uncaught TypeError: editor.getPath is not a function

[code]

### Commands

[code]

### Non-Core Packages

[2018-07-26 21:41] hoover900 commented on #76
I think I have a fix for this. @konchunas fix looks to be right, but it seems to be missing "()" at the end of editor.getpath. Am I wrong in thinking that editor.getpath is not going return anything since it's not a string nor a function?

[2019-12-21 14:58] saperio commented on #76
Add pr for this: https://github.com/mattsawyer77/atom-perforce/pull/82